/* Login.css */
/* body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    background-color: #f0f8ff;
  }
   */
  .page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #8DC3E5;
    font-family: Arial, sans-serif;
  }
  
  .header {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
  }
  
  .nav-buttons {
    display: flex;
    gap: 10px;
  }
  
  .nav-button {
    padding: 10px 20px;
    background-color: #4a90e2;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
  }
  .nav-button:hover{
    background-color: #36628D;

  }
  
  .login-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-form {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .avatar-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .avatar {
    width: 80px;
    height: 80px;
    background-color: #4a90e2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h2 {
    text-align: center;
    color: #4a90e2;
    margin-bottom: 20px;
  }
  
  .input-group {
    position: relative;
    margin-bottom: 15px;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 5px;
    padding-left: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
  }
  
  .remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  /* .remember-me input {
    margin-right: 5px;
  } */
  
  .login-button {
    width: 100%;
    padding: 10px;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  button:hover{
        background-color: #36628D; 


  }
  
  .forgot-password {
    text-align: center;
    margin-top: 15px;
  }
  
  .forgot-password a {
    color: #4a90e2;
    text-decoration: none;
    font-size: 14px;
  }